/* line 14, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 11, ../compass/sass/base.scss */
html, body {
  background-color: #fff5de;
  height: 100%;
  color: #444444;
}

/* line 18, ../compass/sass/base.scss */
#content {
  width: 980px;
  margin: 0 auto;
  height: 100%;
  padding: 1em;
}

@import url(compass/typography/lists/inline-list.css);
/* line 3, ../compass/sass/header.scss */
header[role="banner"] {
  background-color: #4D002B;
  background: url(/static/images/background-nav.png);
  border-bottom: 3px solid #750E49;
  height: 100px;
}
/* line 14, ../compass/sass/header.scss */
header[role="banner"] li {
  display: inline;
  color: #fff5de;
  font-weight: bold;
  font-family: 'Old Standard TT', serif;
}

/* line 14, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../usr/share/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 11, ../compass/sass/base.scss */
html, body {
  background-color: #fff5de;
  height: 100%;
  color: #444444;
}

/* line 18, ../compass/sass/base.scss */
#content {
  width: 980px;
  margin: 0 auto;
  height: 100%;
  padding: 1em;
}

/* line 3, ../compass/sass/liquid.scss */
.list {
  border-color: #750e49;
}
/* line 6, ../compass/sass/liquid.scss */
.list section {
  border: 1px solid #750e49;
}
/* line 10, ../compass/sass/liquid.scss */
.list article {
  border: 1px solid #750e49;
  background-color: #fefefe;
  display: block;
  width: 100%;
  margin: 1em;
}
/* line 17, ../compass/sass/liquid.scss */
.list article h1 {
  font-size: 1.3em;
  color: #4D002B;
}
/* line 23, ../compass/sass/liquid.scss */
.list article img {
  float: left;
  margin: 5px;
  border: 1px solid #750e49;
}

/* line 33, ../compass/sass/liquid.scss */
.liquid img {
  float: left;
  border: 3px solid #750e49;
  padding: 4px;
  margin-right: 2em;
  margin-bottom: 2em;
}
/* line 41, ../compass/sass/liquid.scss */
.liquid h1 {
  text-align: center;
  font-size: 2em;
  font-family: 'Crimson Text', serif;
}
/* line 50, ../compass/sass/liquid.scss */
.liquid h2 {
  text-align: center;
  color: #b8d9c8;
  font-size: 1.4em;
  font-family: 'Crimson Text', serif;
}
/* line 60, ../compass/sass/liquid.scss */
.liquid p {
  margin: 1em;
}
/* line 64, ../compass/sass/liquid.scss */
.liquid ul {
  margin: 1em;
}
/* line 68, ../compass/sass/liquid.scss */
.liquid li {
  margin-right: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  display: inline;
  font-family: serif;
  border: 1px solid #750e49;
}

/* line 83, ../compass/sass/liquid.scss */
.liquid-rating {
  font-size: 1.3em;
  font-family: 'Crimson Text', serif;
  color: #750e49;
}

/* line 89, ../compass/sass/liquid.scss */
#rating-holder {
  clear: both;
  margin: 0 auto;
  border: 1px solid black;
  height: 10em;
}

/* line 97, ../compass/sass/liquid.scss */
.rating-container {
  float: left;
  margin: 2em;
  border: 1px solid black;
}
/* line 104, ../compass/sass/liquid.scss */
.rating-container p {
  margin: 0;
  padding: 0;
}

/* line 111, ../compass/sass/liquid.scss */
.rating #rating-flavor-desc {
  font-size: 0.9em;
  color: #b8d9c8;
  margin: 0;
  padding: 0;
}
/* line 118, ../compass/sass/liquid.scss */
.rating li {
  display: inline;
}
/* line 120, ../compass/sass/liquid.scss */
.rating li:hover {
  font-weight: bold;
}

/* line 125, ../compass/sass/liquid.scss */
.nav_alphabet {
  margin: 1em;
  color: #750e49;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border-top: 3px solid #917081;
  border-bottom: 3px solid #917081;
  font-weight: bold;
}
/* line 140, ../compass/sass/liquid.scss */
.nav_alphabet ol {
  text-align: center;
}
/* line 142, ../compass/sass/liquid.scss */
.nav_alphabet li {
  margin-right: 1.25em;
  display: inline;
  font-family: 'Crimson Text', serif;
}
/* line 148, ../compass/sass/liquid.scss */
.nav_alphabet a {
  color: #750e49;
  text-decoration: none;
}
/* line 151, ../compass/sass/liquid.scss */
.nav_alphabet a:hover {
  text-decoration: underline;
}

/* line 157, ../compass/sass/liquid.scss */
.comments {
  clear: both;
}
/* line 161, ../compass/sass/liquid.scss */
.comments article {
  border: 2px solid #917081;
  margin-bottom: 1em;
}
/* line 166, ../compass/sass/liquid.scss */
.comments p {
  margin: 1em;
}
/* line 170, ../compass/sass/liquid.scss */
.comments h1 {
  display: block;
  text-align: center;
  font-size: 1.4em;
  font-family: 'Crimson Text', serif;
  margin-bottom: 1em;
}
/* line 177, ../compass/sass/liquid.scss */
.comments h1:before {
  content: url(../images/element-left.png);
  margin-right: 0.5em;
}
/* line 182, ../compass/sass/liquid.scss */
.comments h1:after {
  content: url(../images/element-right.png);
  margin-left: 0.5em;
}
/* line 188, ../compass/sass/liquid.scss */
.comments form {
  margin-bottom: 2em;
}
/* line 190, ../compass/sass/liquid.scss */
.comments textarea {
  display: block;
  width: 100%;
  border: 2px solid #750e49;
}
