{% extends "base.html" %}
{% load thumbnail %}


{% block content %}

  <nav class="nav_alphabet">
    <ol>
    {% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
      <li><a href="{{ letter|lower }}/">{{ letter }}</a></li>  
    {% endfor %}
    </ol>
  </nav>
  
  <section class="list">
  {% for liquid in liquids %}
    <article class="list-liquid">
      <header>
        {% thumbnail liquid.image "50x50" crop="center" as im %}
          <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
        {% endthumbnail %}
        <h1><a href="{{ liquid.get_absolute_url }}">{{ liquid.name }}</a></h1>
      </header>
      
      <p>{{ liquid.description|truncatewords:"25" }}</p>
      <p>{{ liquid.comments.all|length }}</p>
    </article>             
  {% endfor %}
  </section>
{% endblock %}
