{% extends "base.html" %}
{% load thumbnail %}
{% load humanize %}


{% block content %}
  <section>
    <article class="liquid">
      <header>
        {% if liquid.image %}
          {% thumbnail liquid.image "250x250" crop="center" as im %}
            <img src="{{ im.url }}" height="{{ im.height }}" width="{{ im.width }}">
          {% endthumbnail %}
        {% else %}
          <img src="{{ STATIC_URL }}/images/default-liquid.png" height="250" width="250">
        {% endif %}
        <h1>{{ liquid.name }}</h1>
        <h2>{{ liquid.manufacturer }}</h2>
      </header>
      <p>{{ liquid.description }}</p>      

      <div class="tags">
        <ul>
        {% for tag in liquid.tags.all %}
          <li>{{ tag }}</li>
        {% endfor %}
        </ul>
        <input id="tags-input" style="display: none;" type="text"/>
        <span id="tags-submit" style="display: none;">Add</span>
        <span id="tags-add">+</span>

      </div>
      
      Flavor: <span class="liquid-rating">{{ liquid.avg_flavor }}</span>/5
      Throat Hit: <span class="liquid-rating">{{ liquid.avg_throat_hit }}</span>/5
      Vapor: <span class="liquid-rating">{{ liquid.avg_vapor }}</span>/5
    </article>             
  </section>  
  <section class="comments">
      <h1>Reviews & Comments</h1>
      
      <div id="rating-holder">
        <div class="rating-container">
          Flavor
          <ol class="rating">
            <li id="rating-flavor-1">1</li>
            <li id="rating-flavor-2">2</li>
            <li id="rating-flavor-3">3</li>
            <li id="rating-flavor-4">4</li>
            <li id="rating-flavor-5">5</li>
          </ol>
          <p id="rating-flavor-desc"></p>
        </div>
        <div class="rating-container">
          Throat Hit
          <ol class="rating">
            <li id="rating-throat_hit-1">1</li>
            <li id="rating-throat_hit-2">2</li>
            <li id="rating-throat_hit-3">3</li>
            <li id="rating-throat_hit-4">4</li>
            <li id="rating-throat_hit-5">5</li>
          </ol>
          <p id="rating-throat_hit-desc"></p>
        </div>
        <div class="rating-container">
          Vapor
          <ol class="rating">
            <li id="rating-vapor-1">1</li>
            <li id="rating-vapor-2">2</li>
            <li id="rating-vapor-3">3</li>
            <li id="rating-vapor-4">4</li>
            <li id="rating-vapor-5">5</li>
          </ol>
          <p id="rating-vapor-desc"></p>
        </div>
      </div>
      
      {% if user.is_authenticated %}
        <form method="post" action="{% url liquidCommentAdd liquid.id %}">
          {% csrf_token %}
          {{ commentset }}
          
          <input type="submit" name="comment-submit" value="Submit" />
        </form>
      {% endif %}
      

      {% for comment in liquid.comments.all %}
        <article>
          <p>{{ comment.text }}</p>
          <p>{{ comment.user.username }} {{ comment.created|naturalday }}</p>
        </article>
      {% endfor %}

  </section>
{% endblock %}

{% block script %}

var tag = {
  'init': function() {
    $('#tags-add').click(function() {
      console.log('clicked add tag');
      $("#tags-input, #tags-submit").css("display", "inline");
      $("#tags-add").css("display", "none");
    })
  }
};


var rating = {

  'pageId': null,

  'init': function(pageId) {
    console.log(pageId);
    rating.pageId = pageId;
  
    console.log(rating.pageId);
  
    // Click Handlers
    $('.rating').click(function(e) { 
      var args = e.target.id.split('-');  // rating-type-id
      rating.rate(args[1], args[2]); 
    });
    
    // Hover Handlers
    $('.rating > li').hover(
      function(e) {
        
        //console.log(e.target.id);
        var args = e.target.id.split('-');  // rating-type-id
        rating.event_hover_in(args[1], args[2]);
      },
      function(e) {
        var args = e.target.id.split('-');  // rating-type-id
        //rating.event_hover_out(args[1], args[2]);
      }
    );
    
    $('.rating-container').hover(function(){}, function(e){
        $(this).children('p').html('');
    })
  },

  'rate': function(type, rating) {
    console.log(type, rating);
    $.ajax({
      url: "/liquid/" + this.pageId + "/review/add/",
      context: document.body,
      type: "POST",
      data: {'type': type, 'rating': rating, 'csrftoken': '{{ csrf_token }}'},
      success: function(data) {
        console.log(data);
      }
    });
  },
  
  'event_hover_in': function(type, id) {
    var descriptions = {
      flavor: ['One', 'Two', 'Three', 'Four', 'Five'],
      throat_hit: ['One', 'Two', 'Three', 'Four', 'Five'],
      vapor: ['One', 'Two', 'Three', 'Four', 'Five'],
    }
    //console.log(descriptions[type][id - 1]);
    $('#rating-' + type + '-desc').html(descriptions[type][id - 1]);
  },
  
  'event_hover_out': function(type, id) {
    $('#rating-' + type + '-desc').html('');
  }

};

$(function(){
  rating.init('{{ liquid.id }}');
  tag.init();
  
  
  
  $(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
});

{% endblock %}
