@import "compass/reset";

$color-background: #FFF5DE;
$color-border: #750E49;
$color-border-light: #917081;
$color-text: #444444;
$color-text-emphasis: #750E49;
$color-text-light: #B8D9C8;


html, body {
  background-color: $color-background;
  //background: url(http://teapeat.com/images/background.png);
  height: 100%;
  color: $color-text;
}

#content {
  width: 980px;
  margin: 0 auto;
  //background-color: white;
  height: 100%;
  padding: 1em;
}
