@import "compass/typography/lists/inline-list";

header[role="banner"] {
  background-color: #4D002B;
  background: url(/static/images/background-nav.png);
  border-bottom: 3px solid #750E49;
  
  height: 100px;

  nav {

  }
  
  li {
    display: inline;
    color: $color-background;
    font-weight: bold;
    font-family: 'Old Standard TT', serif;
  }
}

  
