@import "base";

.list {
  border-color: $color-border;
  
  section {
    border: 1px solid $color-border;
  }
  
  article {
    border: 1px solid $color-border;
    background-color: #fefefe;
    display: block;
    width: 100%;
    margin: 1em;
    
    h1 {
      //font-family: 'Old Standard TT', serif;
      font-size: 1.3em;
      color: #4D002B;
    }
        
    img {
      float: left;
      margin: 5px;
      border: 1px solid $color-border;
    }
    
  }
}

.liquid {
  img {
    float: left;
    border: 3px solid $color-border;
    padding: 4px;
    margin-right: 2em;
    margin-bottom: 2em;
  }
  
  h1 {
    text-align: center;
    
    font: {
      size: 2em;
      family: 'Crimson Text', serif;
    }
  }
  
  h2 {
    text-align:center;
    color: $color-text-light;
    font: {
      size: 1.4em;
      family: 'Crimson Text', serif;

    }
  }
  
  p {
    margin: 1em;
  }

  ul {
    margin: 1em;
  }

  li {
    margin-right: 0.5em;
    padding: {
      left: 0.5em;
      right: 0.5em;
      top: 0.1em;
      bottom: 0.1em;
    }
    display: inline;
    font-family:  serif;
    border: 1px solid $color-border;
  }
}

// Average rating for a liquid
.liquid-rating {
  font-size:1.3em;
  font-family: 'Crimson Text', serif;
  color: $color-text-emphasis;
}

#rating-holder {
  clear: both;
  margin: 0 auto;
  border: 1px solid black;
  height: 10em;
  //display: block;
}

.rating-container {
  float:left;
  //position: relative;
  //display: block;
  margin: 2em;
  border: 1px solid black;
  
  p {
    margin: 0;
    padding: 0;
  }
}

.rating {
  #rating-flavor-desc {
    font-size: 0.9em;
    color: $color-text-light;
    margin: 0;
    padding: 0;
  }

  li { 
    display: inline;
    &:hover { font-weight: bold; }
  }
}


.nav_alphabet {
  margin: 1em;
  color: $color-border;
  
  padding: {
    top: 0.5em;
    bottom: 0.5em;
    left: 1em;
    right: 1em;
  }
  
  border-top: 3px solid $color-border-light;
  border-bottom: 3px solid $color-border-light;
  font-weight: bold;
  
  ol { text-align: center; }
  
  li {
    margin-right: 1.25em;
    display: inline;
    font-family: 'Crimson Text', serif;
  }
  
  a {
    color: $color-border;
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }

  
}

.comments {
  clear: both;
  
  
  article {
    border: 2px solid $color-border-light;
    margin-bottom: 1em;
  }
  
  p {
    margin: 1em;
  }
  
  h1 {
    display: block;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Crimson Text', serif;
    margin-bottom: 1em;
    
    &:before {
      content: url(../images/element-left.png);
      margin-right: 0.5em;
    }
    
    &:after {
      content: url(../images/element-right.png);
      margin-left: 0.5em;
    }
  }
  
  form { margin-bottom: 2em; }
  
  textarea {
    display: block;
    width: 100%;
    border: 2px solid $color-border;
  }
}

