<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/default.css" media="all" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Crimson+Text:700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  </head>
  
  <body>

    <header role="banner">
        <ul>
          <li>Home<li>
          <li><a href="/liquid/">eLiquids</a><li>
          <li>Popular<li>
          <li>My Journal<li>
        </ul>
      </nav>
    </header>
    
    <div id="content" role="main">
    {% block content %}
    
    {% endblock %}
    </div>
    
  </body>
  
  <script type="text/javascript">
  {% block script %}
  
  {% endblock %}
  </script>
</html>
